# Python related
.python-version
.pyc
.pycache/
__pycache__/
.env
.vscode
10_waterbench_data/*
!10_waterbench_data/.gitkeep
filtered_metadata.csv
split_stats.json

# Latex related
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.nav
*.out
*.snm
*.run.xml
*.synctex.gz
*.toc
*-SAVE-ERROR
*.vrb
*.lol
*.tdo

*.pdf
*.dvi
*.ps
*.eps

*.swp
*.synctex(busy)